.container {
    width: 40%;
    margin: 0 auto;
}

.aboutHeaderContainer {
    display: flex;
    justify-content: space-between;
}

.aboutHeader {
    display: inline-block;
    width: fit-content;
    margin: 1rem 0;
}

.headshotWrapper {
    width: fit-content;
    float: right;
    display: block;
    margin: 1rem 0 0 0;
}
.headshot {
    border: 3px solid #d1d1d1;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.fontSizeButton {
    background-color: #27251F;
    display: block;
    border: 1px solid rgb(43, 142, 219);
    color: rgb(43, 142, 219);
    border-radius: 4px;
    font-family: 'Rajdhani', sans-serif;

}

.fontSizeButton:hover {
    cursor: pointer;
}

.biggerText {
    color: #d1d1d1;
}
@media screen and (max-width: 935px) {
    .headshot {
        width: 8rem;
        height: 8rem;
    }
  }
  @media screen and (max-width: 835px) {
    .headshot {
        width: 6rem;
        height: 6rem;
    }
  }
  @media screen and (max-width: 662px) {
    .fontSizeButton {
        font-size: 0.7rem;
    }
    .container {
        width: 100%;
        margin: 0;
    }
  }
