body {
  background-color: #27251F;
  color: #d1d1d1;
}
h1 {
  color: #FD5A1E;
  font-size: 6rem;
  margin: 0;
  /* border: 3px solid blue; */
}
h2{
  color: #9ba099;
  margin: 1rem 0;
}
a {
  text-decoration: none;
  color: #d1d1d1;
}
nav {
  display: flex;
  margin-left: 2rem;
  font-family: 'Rajdhani', sans-serif;
}