.main {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  font-family: 'Rajdhani', sans-serif;
}

.headline { 
  font-size: 2rem;
  margin: 0;
}

.headshotWrapper {
  flex-direction: row-reverse;
}
.flex {
  display: flex;
}
@media screen and (min-width: 1135px) {
  .main {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1335px) {
  .main {
    padding: 0 10rem;
  }
}
@media screen and (min-width: 1535px) {
  .main {
    padding: 0 15rem;
  }
}
@media screen and (min-width: 1735px) {
  .main {
    padding: 0 20rem;
  }
}
@media screen and (max-width: 835px) {
    .main {padding: 0 2.5rem;
  }
}
@media screen and (max-width: 662px) {
    .main { padding: 0.5rem 5% 0;
    }
  .flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 530px) {
  .headline { 
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 430px) {
  .headline { 
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 360px) {
  .headline { 
    font-size: 0.8rem;
  }
}