.container {
    width: 55%;
    margin: 0 auto 0 0;
}

.column {
    flex-direction: column-reverse;
    color: #b69c99;
}
.projectHeader, .projectHeaderRetired, .retired {
    margin: 0;
    display: inline-block;
    color: #ffffff;
}
.projectHeader:hover {
    color:#FD5A1E;
}
.retired {
    color:#FD5A1E;
    margin-left: 4px;
}
.techContainer {
    display: flex;
    flex-wrap: wrap;
}

.technologies {
    border: 1px solid rgb(43, 142, 219);
    color: rgb(43, 142, 219);
    border-radius: 4px;
    margin: 0.2rem 0.4rem 0.2rem 0;
    padding: 0 0.2rem;
    display: inline;
    width: fit-content;
}

.projectDescription {
    margin-top: 0.1rem;
}

.bodyCopy {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* font-size: 1 rem; */
    color: aqua;
}

@media screen and (max-width: 662px) {
    .projectDescription {
        font-size: 0.8rem;
    }
    .container {
        width: 100%;
        margin: 0;
    }
}